In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("therohithanand/student-academic-performance-dataset")

print("Path to dataset files:", path)

/Users/davidren/eecs/ml/student/env/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/therohithanand/student-academic-performance-dataset?dataset_version_number=1...

100%|██████████| 33.5k/33.5k [00:00<00:00, 28.1MB/s]

Extracting files...
Path to dataset files: /Users/davidren/.cache/kagglehub/datasets/therohithanand/student-academic-performance-dataset/versions/1

In [2]:
import pandas as pd

In [10]:
df = pd.read_csv(path + "/student_info.csv")

In [12]:
df['name'] = df['name'].str[-1].astype(int)
df.head()

,student_id,name,gender,age,grade_level,math_score,reading_score,writing_score,attendance_rate,parent_education,study_hours,internet_access,lunch_type,extra_activities,final_result
0,S1,1,Other,17,10,74,61,90,94.660002,Master's,4.120192,Yes,Free or reduced,Yes,Fail
1,S2,2,Male,17,12,99,70,91,93.173227,Bachelor's,2.886505,No,Free or reduced,No,Pass
2,S3,3,Other,17,9,59,60,99,98.631098,PhD,1.909926,No,Free or reduced,No,Fail
3,S4,4,Other,17,12,70,88,69,96.419620,PhD,1.664740,No,Standard,No,Pass
4,S5,5,Male,15,9,85,77,94,91.332105,PhD,2.330918,Yes,Free or reduced,No,Pass